In [63]:
import numpy as np
import pandas as pd

In [34]:
flight = pd.read_csv("C:/Users/askma/OneDrive/Desktop/flights.csv")

In [36]:
flight

,Airport code,Country,City,Path ID,Path Order,Flow Amount (t),Latitude,Longitude
0,PRG,Czech Republic,Prague,PRG-VIE,1,NaN,50.075538,14.437800
1,VIE,Austria,Vienna,PRG-VIE,2,250.0,48.208174,16.373819
2,PRG,Czech Republic,Prague,PRG-MSQ,1,NaN,50.075538,14.437800
3,MSQ,Belarus,Minsk,PRG-MSQ,2,1200.0,53.904540,27.561524
4,PRG,Czech Republic,Prague,PRG-TMP,1,NaN,50.075538,14.437800
5,TMP,Finland,Tampere,PRG-TMP,2,800.0,61.497752,23.760954
6,PRG,Czech Republic,Prague,PRG-HAM,1,NaN,50.075538,14.437800
7,HAM,Germany,Hamburg,PRG-HAM,2,400.0,53.551085,9.993682
8,PRG,Czech Republic,Prague,PRG-ATH,1,NaN,50.075538,14.437800
9,ATH,Greece,Athens,PRG-ATH,2,150.0,37.983810,23.727539
10,PRG,Czech Republic,Prague,PRG-DUB,1,NaN,50.075538,14.437800
11,DUB,Ireland,Dublin,PRG-DUB,2,500.0,53.349805,-6.260310
12,PRG,Czech Republic,Prague,PRG-MRS,1,NaN,50.075538,14.437800
13,MRS,France,Marseille,PRG-MRS,2,800.0,43.296482,5.369780
14,PRG,Czech Republic,Prague,PRG-AMS,1,NaN,50.075538,14.437800
15,AMS,Netherlands,Amsterdam,PRG-AMS,2,50.0,52.370216,4.895168
16,PRG,Czech Republic,Prague,PRG-WAW,1,NaN,50.075538,14.437800
17,WAW,Poland,Warsaw,PRG-WAW,2,550.0,52.229676,21.012229
18,PRG,Czech Republic,Prague,PRG-LIS,1,NaN,50.075538,14.437800
19,LIS,Portugal,Lisbon,PRG-LIS,2,130.0,38.722252,-9.139337
20,PRG,Czech Republic,Prague,PRG-BEG,1,NaN,50.075538,14.437800
21,BEG,Serbia,Belgrad,PRG-BEG,2,920.0,44.786568,20.448922
22,PRG,Czech Republic,Prague,PRG-IST,1,NaN,50.075538,14.437800
23,IST,Turkey,Istanbul,PRG-IST,2,810.0,41.008238,28.978359
24,PRG,Czech Republic,Prague,PRG-DNK,1,NaN,50.075538,14.437800
25,DNK,Ukraine,Dnepropetrovsk,PRG-DNK,2,1300.0,48.464717,35.046183
26,PRG,Czech Republic,Prague,PRG-FRA,1,NaN,50.075538,14.437800
27,FRA,Germany,Frankfurt,PRG-FRA,2,1000.0,50.110922,8.682127
28,PRG,Czech Republic,Prague,PRG-SOF,1,NaN,50.075538,14.437800
29,SOF,Bulgaria,Sofia,PRG-SOF,2,380.0,42.697708,23.321868

In [37]:
flight.head()

,Airport code,Country,City,Path ID,Path Order,Flow Amount (t),Latitude,Longitude
0,PRG,Czech Republic,Prague,PRG-VIE,1,NaN,50.075538,14.437800
1,VIE,Austria,Vienna,PRG-VIE,2,250.0,48.208174,16.373819
2,PRG,Czech Republic,Prague,PRG-MSQ,1,NaN,50.075538,14.437800
3,MSQ,Belarus,Minsk,PRG-MSQ,2,1200.0,53.904540,27.561524
4,PRG,Czech Republic,Prague,PRG-TMP,1,NaN,50.075538,14.437800

In [38]:
flight.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airport code     30 non-null     object
 1   Country          30 non-null     object
 2   City             30 non-null     object
 3   Path ID          30 non-null     object
 4   Path Order       30 non-null     int64
 5   Flow Amount (t)  15 non-null     float64
 6   Latitude         30 non-null     float64
 7   Longitude        30 non-null     float64
dtypes: float64(3), int64(1), object(4)
memory usage: 2.0+ KB

In [43]:
flight.iloc[:,5].mean()

616.0

In [44]:
flight.iloc[:,5].max()

1300.0

In [57]:
print(flight.loc[flight['Flow Amount (t)'] == 550, 'City'])

17    Warsaw
Name: City, dtype: object

In [65]:
business = pd.read_excel("C:/Users/askma/OneDrive/Desktop/revenue.xlsx")

In [66]:
business.head()

,YEAR,MONTH,DAY,Customer,CustomerDescr,City,Salesorg,Country,OrderNumber,OrderItem,...,Division,SalesQuantity,UnitOfMeasure,Revenue,Currency,Discount,CostOfGoodsManufactured,Revenue USD,Discount USD,Cogm USD
0,2007,1,1,5000,Beantown Bikes,Boston,UE00,US,100001,10,...,BI,2,ST,6000.0,USD,300.0,2800.0,6000.0,300.0,2800.0
1,2007,1,1,5000,Beantown Bikes,Boston,UE00,US,100001,20,...,BI,5,ST,16000.0,USD,800.0,7500.0,16000.0,800.0,7500.0
2,2007,1,1,5000,Beantown Bikes,Boston,UE00,US,100001,30,...,BI,1,ST,2400.0,USD,120.0,1200.0,2400.0,120.0,1200.0
3,2007,1,1,5000,Beantown Bikes,Boston,UE00,US,100001,40,...,BI,1,ST,1600.0,USD,80.0,900.0,1600.0,80.0,900.0
4,2007,1,1,5000,Beantown Bikes,Boston,UE00,US,100001,50,...,BI,7,ST,11900.0,USD,595.0,7000.0,11900.0,595.0,7000.0

In [67]:
print(business.groupby('Product Category')['Revenue'].mean())

Product Category
ACC     108.261038
EBI    8610.636888
ORB    7796.678130
ROB    8313.303493
TOU    8299.358516
TRE    1481.536454
Name: Revenue, dtype: float64

In [75]:
print(business[business['Revenue'] == business['Revenue'].min()])

       YEAR  MONTH  DAY  Customer    CustomerDescr        City Salesorg  \
107    2007      1    3     24000         Velodrom   Magdeburg     DN00
125    2007      1    4     15000    Bavaria Bikes     München     DS00
132    2007      1    4     23000  Red Light Bikes     Hamburg     DN00
226    2007      1    6     24000         Velodrom   Magdeburg     DN00
350    2007      1   15     18000        Drahtesel     Leipzig     DN00
...     ...    ...  ...       ...              ...         ...      ...
10370  2007     12   19     19000         Fahrpott      Bochum     DN00
10429  2007     12   21     20000        Neckarrad  Heidelberg     DS00
10439  2007     12   21     24000         Velodrom   Magdeburg     DN00
10474  2007     12   26     21000        Ostseerad      Anklam     DN00
10550  2007     12   31     22000       Rädlelland   Stuttgart     DS00

      Country  OrderNumber  OrderItem  ... Division SalesQuantity  \
107        DE       100011         10  ...       AS             1
125        DE       100013         50  ...       AS             1
132        DE       100014         60  ...       AS             1
226        DE       100022         80  ...       AS             1
350        DE       100034         80  ...       AS             1
...       ...          ...        ...  ...      ...           ...
10370      DE       100676         70  ...       AS             1
10429      DE       100681        140  ...       AS             1
10439      DE       100682         70  ...       AS             1
10474      DE       100685         70  ...       AS             1
10550      DE       100692         30  ...       AS             1

      UnitOfMeasure Revenue  Currency Discount  CostOfGoodsManufactured  \
107              ST    14.7       EUR     0.00                     6.68
125              ST    14.7       EUR     0.74                     6.68
132              ST    14.7       EUR     0.44                     6.68
226              ST    14.7       EUR     0.00                     6.68
350              ST    14.7       EUR     0.00                     6.68
...             ...     ...       ...      ...                      ...
10370            ST    14.7       EUR     0.00                     6.68
10429            ST    14.7       EUR     0.44                     6.68
10439            ST    14.7       EUR     0.00                     6.68
10474            ST    14.7       EUR     0.00                     6.68
10550            ST    14.7       EUR     0.44                     6.68

      Revenue USD  Discount USD  Cogm USD
107         19.79          0.00       9.0
125         19.79          1.00       9.0
132         19.79          0.59       9.0
226         19.79          0.00       9.0
350         19.79          0.00       9.0
...           ...           ...       ...
10370       19.79          0.00       9.0
10429       19.79          0.59       9.0
10439       19.79          0.00       9.0
10474       19.79          0.00       9.0
10550       19.79          0.59       9.0

[78 rows x 23 columns]

In [76]:
print(business.groupby('YEAR')['Revenue'].mean())

YEAR
2007    4999.140553
2008    5129.561252
2009    4830.588585
2010    4983.660594
2011    5183.147895
Name: Revenue, dtype: float64

In [78]:
arr = business["ProductDescr"].unique()

In [81]:
print(len(arr))

28